RABBITMQ_DEFAULT_USER=admin
RABBITMQ_DEFAULT_PASS=test
MONGO_HOST=localhost
MONGO_PORT=17019
MONGO_DB=readme-notify
MONGO_USER=adminMONGO_PASSWORD=test
MONGO_AUTH_BASE=admin
MONGO_PASSWORD=test
RABBIT_HOST=localhost
RABBIT_PASSWORD=test
RABBIT_PORT=5672
RUBBIT_USER=admin
RABBIT_QUEU=readme.notify.income
RABBIT_EXCHANGE=readme.notify
